<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- 头部导航栏 -->
<div id="header">
    <div class="container">
        <h1 id="logo">
            <a href="/" title=<%=title%> id="site_name">QIEWK</a>
        </h1>
        <div class="toggle-topbar menu-icon" id="pull">
            <a href="#"><span>Menu</span></a>
        </div>
        <div class="toogle-topbar-content" id="pull-menu">
            <ul class="menu clearfix">
                <li class="first leaf">
                    <a href="/CSS3" title="">CSS3</a>
                </li>
                <li class="leaf">
                    <a href="/mobile" title="">Mobile</a>
                </li>
                <!--<li class="leaf">
                    <a href="/blog/tags/302.html" title="Sass教程">Sass</a>
                </li>-->
                <li class="leaf">
                    <a href="/JavaScript" title="JavaScript">JavaScript</a>
                </li>
                <!--<li class="leaf">
                    <a href="http://fe.apelearn.com/?utm_source=w3cplus&amp;utm_medium=banner&amp;utm_campaign=w3cplus" title="视频教程">视频教程</a>
                </li>-->
                <!--<li class="leaf">
                    <a href="/blog/translations" title="译文">译文</a>
                </li>-->
                <!--<li class="leaf">
                    <a href="http://www.w3cplus.com/blog/tags/411.html" title="SVG">SVG</a>
                </li>
                <li class="leaf">
                    <a href="/source/front-end-developer-excellent-tool.html" title="在线工具">工具</a>
                </li>
                <li class="last leaf">
                    <a href="/tags" title="标签云">标签云</a>
                </li>-->
            </ul>        <!-- /#main-menu -->
        </div>
    </div>
</div>