<div class="col-extra">
    <div class="region region-sidebar-second">
        <div id="block-block-18" class="block block-block">
            <h2>合作网站</h2>
            <div class="content">
                <ul class="clearfix"
                    id="join_hands">
                    <li>
                        <a href="https://github.com/airen/jsStudy"
                           target="_blank">JavaScript学习案例</a>
                    </li>
                    <li>
                        <a href="http://moyu-edu.com/js.html" target="_blank" title="墨鱼前端培训">墨鱼前端培训</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>